{% extends 'base_front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="options-container">
        <div class="flex"> {# Utilisation de la classe flex pour centrer le contenu #}
            <a href="{{ path('app_check_email') }}" class="btn-default">Mot de passe oublié ?</a> {# Utilisation du bouton btn-default pour une apparence uniforme #}
        </div>
    </div>

{% endblock %}
