.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php

/var/
/vendor/
/.env
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###


npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

/assets/images/.DS_Store
.env
