<div class="container">
    <div class="header">
        <h2 class="title">Confirmez votre email</h1>
    </div>
    <div class="content">
        <p>Bonjour,</p>
        <p>Veuillez cliquer sur le lien ci-dessous pour confirmer votre inscription à <strong>Gift Management</strong>:</p>
    </div>
</div>
