{% extends 'base_front.html.twig' %}

{% block title %}Activation par e-mail{% endblock %}

{% block body %}

    <section class="registration-success">
        <div class="message">
            <h2>Inscription réussie</h2>
            <p>Un e-mail a été envoyé à votre adresse e-mail enregistrée. Veuillez vérifier votre boîte de réception pour confirmer votre e-mail.</p>
            <p>Si vous ne recevez pas l'e-mail dans quelques minutes, veuillez également vérifier votre dossier spam.</p>
        </div>
    </section>

{% endblock %}
