{% extends 'base_front.html.twig' %}

{% block title %}Entrez le mot de passe de la liste de cadeaux{% endblock %}

{% block body %}
    <div class="container">
        <div class="container-form-gift-list">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            <h2>Entrez le mot de passe pour accéder à la liste de cadeaux</h2>

            <form method="post" action="{{ path('front_app_gift_list_check_password', {'id': giftList.id}) }}">
                <div>
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="flex">
                    <button type="submit" class="btn btn-submit">Valider</button>
                </div>
            </form>

            <hr />

            <a href="{{ path('front_app_gift_list_index') }}" class="btn-link">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
