{# templates/booking/book_gift.html.twig #}

{% extends 'base_front.html.twig' %}

{% block title %}Réserver un cadeau{% endblock %}

{% block body %}
    <h1>Réserver un cadeau</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Réserver') }}</button>
    {{ form_end(form) }}
{% endblock %}
