<div class="container">
    <div class="header">
        <h2 class="title">Réinitialisez votre mot de passe</h1>
    </div>
    <div class="content">
        <p>Bonjour,</p>
        <p>Veuillez cliquer sur le lien ci-dessous pour réinitilaliser votre mot de passe sur <strong>Gift Management</strong>:</p>
    </div>
</div>
