{% extends 'base_front.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

 <section class="registration-success">
        <div class="message">
            <h2>Mot de passe à réinitialiser</h2>
            <p>Un email vous a été envoyé afin de réinitilaliser votre mot de passe.</p>
            <p>Si vous ne recevez pas le mail d'ici quelques minutes, veuillez vérifer dans vos spams.</p>
        </div>
    </section>

{% endblock %}