{% extends 'base_front.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
    <div class="options-container">
        <h2 class="options-title">Entrez votre nouveau mot de passe</h2>
        {% for message in app.flashes('failure') %}
            <div class="error-message">
                {{ message }}
            </div>
        {% endfor %}
        <div class="options">
            <form action="{{ path('app_reset_password_forgot', {'token': token}) }}" method="post">
                <div class="email-input">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{ email }}" disabled>
                </div>
                <div class="email-input">
                    <label for="password">Nouveau mot de passe</label>
                    <input type="password" id="password" name="password">
                </div>
                <button type="submit">Valider</button>
            </form>
        </div>
    </div>
{% endblock %}
