/* admin.css */
body.back {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

aside {
    background-color: #343a40;
    color: white;
    padding: 15px;
    height: 100vh;
    width: 250px;
    position: fixed;
}

aside h2 {
    font-size: 1.5em;
}

aside nav ul {
    list-style-type: none;
    padding: 0;
}

aside nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

main {
    margin-left: 270px; /* Plus large que la largeur de 'aside' pour éviter le chevauchement */
    padding: 15px;
}

header h1 {
    color: #343a40;
    font-size: 2em;
}

section {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Ajouter d'autres styles selon vos besoins */
