/* admin.css */
body.back {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7f6;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    background: #353c4e;
    color: #fff;
    padding: 20px 0;
}

.sidebar h2 {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    background: #2c323d; /* Couleur légèrement différente pour le titre */
}

.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu li a {
    color: white;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    transition: background 0.3s;
}

.nav-menu li a:hover {
    background: #f90;
}

.main-content {
    margin-left: 200px; /* Même largeur que la sidebar */
    padding: 20px;
    background-color: #f4f7f6;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-button {
    background-color: #c0392b;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #e74c3c;
}

.container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 20px;
}

.logout-button {
    display: block; /* Assurez-vous qu'il s'agit d'un élément de bloc */
    color: white;
    text-decoration: none;
    padding: 10px 20px; /* Ajustement de l'espacement pour correspondre aux autres liens */
    transition: background-color 0.3s;
}

.logout-button:hover {
    background: #f90; /* Couleur de fond au survol pour une indication visuelle */
}