<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Administration{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="/path/to/your/favicon.svg" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }} {# Assurez-vous de compiler vos assets d'admin séparément #}
    {% endblock %}
</head>
<body class="back">

    <aside>
        <h2>Menu</h2>
        <nav>
            <ul>
                <li><a href="">Gestion des utilisateurs</a></li>
                <li><a href="">Listes de cadeaux</a></li>
                <li><a href="">Cadeaux</a></li>
            </ul>
        </nav>
    </aside>

    <main>
        <header>
            <h1>Administration</h1>
        </header>

        <section>
            {% block body %}{% endblock %}
        </section>
    </main>

</body>
</html>
