<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Administration{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="/path/to/your/favicon.svg" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }} {# Assurez-vous de compiler vos assets d'admin séparément #}
    {% endblock %}
</head>
<body class="back">

    <aside class="sidebar">
        <h2>Gift List</h2>
        <nav class="nav-menu">
            <ul>
                <li><a href="{{ path('back_admin_user_index') }}">Gestion des utilisateurs</a></li>
               
               
                <li><a href="/logout" class="logout-button">Déconnexion</a></li> <!-- Déconnexion déplacée ici -->
            </ul>
        </nav>
    </aside>

    <div class="main-content">
        <header class="main-header">
            <div class="top-bar">
                <h1>Tableau de bord</h1>
                <!-- Bouton de déconnexion supprimé d'ici -->
            </div>
        </header>

        <main>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
    </div>

</body>
</html>
